html, body {
    height: 100%;
}

body {
    background: #F7F7F7;
    padding-top: 70px;
}

.navbar .btn {
    outline: none !important;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px 0;
    padding-bottom: 60px;
}

.container-fluid {
    height: 100%;
    padding-bottom: 20px;
}

.span {
    padding: 0 5px;
}

.column {
    margin: 0 5px;
    width: 100%;
    padding: 5px;
}

.column-head {
    padding: 5px;
}

.column-head a {
    color: #000;
    font-weight: bold;
}

.ticket {
    background: #FFF;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
}

.ticket .panel-heading,
.ticket .panel-body {
    padding: 8px;
}

.ticket .media .media-body {
    line-height: 1.2;
}

.ticket .media-left, .media>.pull-left {
    padding-right: 0;
    padding-left: 5px;
}

.issue-type {
    float: left;
    margin-right: 6px;
}

.issue-type a{
    text-decoration: none !important;
    display: block;
}

.issue-type .fa {
    padding: 3px;
    border: 1px solid #CCC;
    border-radius: 3px;
    font-size: 11px;
}

.issue-type .fa.fa-exclamation-circle {
    color: #D82A2A;
    opacity: 1;
}

.ticket .issue-image {
    background: #BBB;
    border-radius: 6px;
    width: 42px;
    height: 42px;
    border: 0;
    display: block;
}

.issue-type .fa.fa-check-square {
    color: green
}

.footer {
    width: 100%;
    height: 60px;
}

.footer-links {
    line-height: 60px;
}